<div class="signin">
  <h2>
    Sign In
  </h2>
  <tui-input class="user-name"
    tuiTextfieldSize="m"

  >
    Enter User Name
    <input
      autocomplete="email"
      tuiTextfield
      type="email"
    />
  </tui-input>

  <tui-input class="user-name"
    tuiTextfieldSize="m"

  >
    Enter Password
    <input
      autocomplete="email"
      tuiTextfield
      type="email"
    />
  </tui-input>

  <button
    tuiButton
    type="button"
    class="loginGg" (click)="signInWithGoogle()"
style="background-color: deepskyblue"
  >
    Login with Google
  </button>

</div>




