<div class="container">
  <div class="logo">
    <img src="./assets/1.png">
  </div>
  <div class="searchAll">
    <span class="material-symbols-outlined">
        search
    </span>
    <input type="text" placeholder="Search...">
  </div>
  <div class="navigate">

      <span class="material-symbols-outlined">
           home
      </span>

    <a href="#" class="material-symbols-outlined" [routerLink]="['/cafe']">
      inventory_2
    </a>

    <a href="#" class="material-symbols-outlined" [routerLink]="['/dashboard']">
      category
    </a>

    <a href="#" class="material-symbols-outlined"[routerLink]="['/cart']">
      shopping_bag
    </a>

    <span class="material-symbols-outlined">
      person
    </span>

    </div>
  </div>

